services:
  neo4j:
    hostname: neo4j
    container_name: neo4j
    image: neo4j:latest
    restart: unless-stopped
    ports:
      - 7474:7474
      - 7687:7687
    volumes:
      - ./conf:/conf
      - ./data:/data
      - ./import:/import
      - ./logs:/logs
      - ./plugins:/plugins
    environment:
      # Raise memory limits
      - NEO4J_server.memory.pagecache.size=1G
      - NEO4J_server.memory.heap.initial_size=1G
      - NEO4J_server.memory.heap.max_size=1G
      - NEO4J_AUTH=neo4j/test12345
    networks:
      - common_net

  grenzeit:
    hostname: grenzeit
    container_name: grenzeit
    ports:
      - "8001:8000"
    build:
      context: ".."
      dockerfile: "docker/Dockerfile"
    env_file: ../.env
    volumes:
      - ..:/code/:rw
    networks:
      - common_net

volumes:
  db-data:
    driver: flocker
    driver_opts:
      size: "10GiB"

networks:
  # The presence of these objects is sufficient to define them
  front-tier: {}
  common_net:
    name: grenzeit_network